<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sehyun.backend.db.isolation.IsolationMapper">

    <select id="findById"
            parameterType="long"
            resultType="com.sehyun.backend.db.isolation.Account">
        SELECT id,
        balance
        FROM account
        WHERE id = #{accountId}
    </select>

    <update id="updateBalance">
        UPDATE account
        SET balance = #{balance}
        WHERE id = #{accountId}
    </update>

    <select id="findByIdForUpdate"
            parameterType="long"
            resultType="com.sehyun.backend.db.isolation.Account">
        SELECT id,
        balance
        FROM account
        WHERE id = #{accountId}
        FOR UPDATE
    </select>

    <update id="withdraw">
        UPDATE account
        SET balance = balance - #{amount}
        WHERE id = #{accountId}
        AND balance >= #{amount}
    </update>

</mapper>