<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sehyun.backend.db.lock.LockMapper">

    <select id="findById"
            parameterType="long"
            resultType="com.sehyun.backend.db.lock.Account">
        SELECT id,
        balance,
        version
        FROM account
        WHERE id = #{accountId}
    </select>

    <select id="findByIdForUpdate"
            parameterType="long"
            resultType="com.sehyun.backend.db.lock.Account">
        SELECT id,
        balance,
        version
        FROM account
        WHERE id = #{accountId}
        FOR UPDATE
    </select>

    <update id="updateBalance">
        UPDATE account
        SET balance = #{balance}
        WHERE id = #{accountId}
    </update>

    <update id="updateWithVersion">
        UPDATE account
        SET balance = #{balance},
        version = version + 1
        WHERE id = #{accountId}
        AND version = #{version}
    </update>

</mapper>